@model BugTracker.Models.Ticket

@{
    ViewData["Title"] = "Details";
}

<h5>Ticket ID and Title Details Created on xx/xx/xxxx</h5>
<hr />
<div class="row">
    <div class="col">
        <div class="card overflow-hidden">
            <div class="card-body pb-0 px-4 pt-4">

                <h5 class="text- success mb-1">Owner User:</h5>
                <h1>
                    <span class="text-success"><small>@Html.DisplayFor(model => model.OwnerUser.FullName)</small></span>
                </h1>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card overflow-hidden">
            <div class="card-body pb-0 px-4 pt-4">

                <h5 class="text- success mb-1">Priority:</h5>
                <h1>
                    <span class="text-success float-right">@Html.DisplayFor(model => model.TicketPriority.Name)</span>
                </h1>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card overflow-hidden">
            <div class="card-body pb-0 px-4 pt-4">

                <h5 class="text- success mb-1">Status</h5>
                <h1>
                    <span class="text-success float-right">@Html.DisplayFor(model => model.TicketStatus.Name)</span>
                </h1>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card overflow-hidden">
            <div class="card-body pb-0 px-4 pt-4">

                <h5 class="text- success mb-1">Type:</h5>
                <h1>
                    <span class="text-success float-right">@Html.DisplayFor(model => model.TicketType.Name)</span>
                </h1>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card overflow-hidden">
            <div class="card-body pb-0 px-4 pt-4">

                <h5 class="text- success mb-1">Assigned To:</h5>
                <h1>
                    <span class="text-success float-right">@Html.DisplayFor(model => model.DeveloperUser.FullName)</span>
                    <a asp-route-id="@Model.Id" asp-action="AssignTicket">Assign</a>
                </h1>
            </div>
        </div>
    </div>
</div>
<!-- row -->
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Add Comment Someday :D</h4>
            </div>
            <div class="card-body">
                <div class="summernote"></div>
            </div>
        </div>
    </div>
</div>
    <div class="col-6">
        <h1>Ticket Details</h1>
        <div>
            <h4>Project</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Title)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model)
                </dd>
            </dl>
        </div>
    </div>


<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="MyTickets">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
