@model BugTracker.Models.Ticket
@using Microsoft.AspNetCore.Identity
@using BugTracker.Sevices.Interfaces
@inject UserManager<BTUser> userManager
@inject IBTFileService BTFileService 

@{
    ViewData["Title"] = "Details";
}

<h1>Ticket:  <br /><span style="font-size:22px;">@Html.DisplayFor(model => model.Title) <span class="float-right mr-5">Created on: @Html.DisplayFor(model => model.Created)</span></span></h1>
<hr />
<div class="row">
    <div class="col">
        <div class="card overflow-hidden ml-2">
            <div class="card-body pb-0 px-4 pt-4">

                <h5 class="text- success mb-1">Owner User:</h5>
                <h1>
                    <span class="text-success"><small>@Html.DisplayFor(model => model.OwnerUser.FullName)</small></span>
                </h1>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card overflow-hidden">
            <div class="card-body pb-0 px-4 pt-4">

                <h5 class="text- success mb-1">Priority:</h5>
                <h1>
                    <span class="text-success float-right">@Html.DisplayFor(model => model.TicketPriority.Name)</span>
                </h1>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card overflow-hidden">
            <div class="card-body pb-0 px-4 pt-4">

                <h5 class="text- success mb-1">Status</h5>
                <h1>
                    <span class="text-success float-right">@Html.DisplayFor(model => model.TicketStatus.Name)</span>
                </h1>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card overflow-hidden">
            <div class="card-body pb-0 px-4 pt-4">

                <h5 class="text- success mb-1">Type:</h5>
                <h1>
                    <span class="text-success float-right">@Html.DisplayFor(model => model.TicketType.Name)</span>
                </h1>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card overflow-hidden mr-2">
            <div class="card-body pb-0 px-4 pt-4">

                <h5 class="text- success mb-1">Assigned To:</h5>
                <h1>
                    <span class="text-success float-right">@Html.DisplayFor(model => model.DeveloperUser.FullName)</span>
                    <a asp-route-id="@Model.Id" asp-action="AssignTicket"><span>Assign</span></a>
                </h1>
            </div>
        </div>
    </div>
</div>
<!-- row -->
<div class="row">
    @*<div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Add Comment Someday :D</h4>
                </div>
                <div class="card-body">
                    <div class="summernote"></div>
                </div>
            </div>
        </div>*@
    <div class="col ml-2">
        <h3 class="text-center">ADD COMMENT</h3>
        <form asp-action="Create" asp-controller="TicketComments" method="post">
            <input type="hidden" value="@Model.Id" name="TicketId" />
            <input type="hidden" value="@Model.ProjectId" name="Ticket.ProjectId" />
            <input type="hidden" value="@Model.DeveloperUserId" name="Ticket.DeveloperUserId" />
            <textarea name="Comment" rows="10" class="form-control"></textarea>
            <button class="btn btn-dark btn-block btn-sm" type="submit">Submit</button>
        </form>
    </div>

            <div class="col-6">
                <div class="card overflow-hidden mr-2">
                    <div class="card-header">
                        <h1>Ticket:  <br /><span style="font-size:22px;">@Html.DisplayFor(model => model.Title)</span></h1>
                    </div>
                        <div class="card-body pb-0 px-4 pt-4">
                            <h3>Description:</h3>
           
            @Html.DisplayFor(model => model.Description)

                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col">
                                    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                                    <a asp-action="MyTickets">Back to List</a>
                                </div>
                                <div class="col justify-content-center">
                                    <a type="button" class="btn btn-icon btn-outline-warning"asp-action="Index" asp-controller="TicketAttachments" asp-route-id="@Model.Id">View All Attachments</a>
                                </div>
                                <a class="btn btn-outline-warning align-text-bottom pull-right" >
                                    Company Invites
                                </a>
                                <div class="col justify-content-center">
                                    <button type="button" class="btn btn-icon btn-outline-warning">View Ticket History</button>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
          

    

</div>


<div class="row">
    <div class="col-4">

        <div>
            <form asp-action="Create" asp-controller="TicketAttachments" enctype="multipart/form-data" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="@Model.Id" name="TicketId">


                <div class="media-body ml-3">
                    <label class="form-label d-block mb-2">Add Attachment</label>
                    <label>
                        Description
                        <input asp-for="@Model.Attachments.FirstOrDefault().Description" type="text" class="form-control" />
                    </label><br />
                    <label class="btn btn-outline-primary btn-sm">
                        <input asp-for="@Model.Attachments.FirstOrDefault().FormFile" type="file" />
                    </label>
                    <button type="submit" class="btn btn-outline-secondary btn-sm md-btn-flat">Submit</button>
                </div>
            </form>
        </div>
</div>
        <div class="col">
            <div class="row clearfix">
                
                    
                      
                            <a href="javascript:void(0);">
                                <div class="hover">
                                   
                                </div>
                            </a>
                     
                    
                
                @foreach (TicketAttachment item in Model.Attachments)
                {
                    <div class="col-2">
                        <div class="card">
                            <div class="file">
                                <a href="javascript:void(0);">
                                    <div class="hover">
                                        <button type="button" class="btn btn-icon btn-danger">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </div>
                                    <div class="icon">
                                        <img src="@BTFileService.GetFileIcon(item.FileName)" style="height:60px;width:60px" />
                                    </div>
                                    <div class="file-name">
                                        <p class="m-b-5 text-muted">@System.IO.Path.GetFileNameWithoutExtension(item.FileName)</p>
                                        <small>Size: @BTFileService.FormatFileSize(item.FileData.Length) <span class="date text-muted">@item.Created.ToString("MMM dd, yyyy")</span></small>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>}
            </div>
        </div>
    </div>








        <hr />
        <div class="btn-sm btn-dark btn-block">@Model.Comments.Count Comment(s)</div>


        <div class="col-sm-5 col-md-6 col-12 pb-4">
            <h1>Comments</h1>
            <div class="comment mt-4 text-justify float-left">
                @foreach (TicketComment comment in Model.Comments.OrderByDescending(c => c.Created))
                {

                    <img src="https://i.imgur.com/yTFUilP.jpg" alt="" class="rounded-circle" width="40" height="40">
                    <h4>@comment.User?.FullName</h4> <span>-@comment.Created.ToString("MM.dd.yyyy")</span> <br>
                    <p>@comment.Comment</p>
                }
            </div>
        </div>

 


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


