@model BugTracker.Models.Ticket
@using Microsoft.AspNetCore.Identity
@using BugTracker.Sevices.Interfaces
@inject UserManager<BTUser> userManager

@{
    ViewData["Title"] = "Details";
}

<h5>Ticket ID and Title Details Created on xx/xx/xxxx</h5>
<hr />
<div class="row">
    <div class="col">
        <div class="card overflow-hidden">
            <div class="card-body pb-0 px-4 pt-4">

                <h5 class="text- success mb-1">Owner User:</h5>
                <h1>
                    <span class="text-success"><small>@Html.DisplayFor(model => model.OwnerUser.FullName)</small></span>
                </h1>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card overflow-hidden">
            <div class="card-body pb-0 px-4 pt-4">

                <h5 class="text- success mb-1">Priority:</h5>
                <h1>
                    <span class="text-success float-right">@Html.DisplayFor(model => model.TicketPriority.Name)</span>
                </h1>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card overflow-hidden">
            <div class="card-body pb-0 px-4 pt-4">

                <h5 class="text- success mb-1">Status</h5>
                <h1>
                    <span class="text-success float-right">@Html.DisplayFor(model => model.TicketStatus.Name)</span>
                </h1>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card overflow-hidden">
            <div class="card-body pb-0 px-4 pt-4">

                <h5 class="text- success mb-1">Type:</h5>
                <h1>
                    <span class="text-success float-right">@Html.DisplayFor(model => model.TicketType.Name)</span>
                </h1>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card overflow-hidden">
            <div class="card-body pb-0 px-4 pt-4">

                <h5 class="text- success mb-1">Assigned To:</h5>
                <h1>
                    <span class="text-success float-right">@Html.DisplayFor(model => model.DeveloperUser.FullName)</span>
                    <a asp-route-id="@Model.Id" asp-action="AssignTicket"><span>Assign</span></a>
                </h1>
            </div>
        </div>
    </div>
</div>
<!-- row -->
<div class="row">
    @*<div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Add Comment Someday :D</h4>
                </div>
                <div class="card-body">
                    <div class="summernote"></div>
                </div>
            </div>
        </div>*@
    <div class="col">
        <h3 class="text-center">ADD COMMENT</h3>
        <form asp-action="Create" asp-controller="TicketComments" method="post">
            <input type="hidden" value="@Model.Id" name="TicketId" />
            <textarea name="Comment" rows="10" class="form-control"></textarea>
            <button class="btn btn-dark btn-block btn-sm" type="submit">Submit</button>
        </form>
    </div>
    <div class="col-6">
        <h1>Ticket Details</h1>
        <div>
            <h4>Project</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Title)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Title)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.TicketPriority)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.TicketPriority.Name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.TicketStatus)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.TicketStatus.Name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.TicketType)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.TicketType.Name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.DeveloperUser)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.DeveloperUser.FullName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.OwnerUser)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.OwnerUser.FullName)
                </dd>
            </dl>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
            <a asp-action="MyTickets">Back to List</a>
        </div>
    </div>

</div>



<div>
    <form asp-action="Create" asp-controller="TicketAttachments" enctype="multipart/form-data" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="@Model.Id" name="TicketId">


        <div class="media-body ml-3">
            <label class="form-label d-block mb-2">Add Attachment</label>
            <label>
                Description
                <input asp-for="@Model.Attachments.FirstOrDefault().Description" type="text" class="form-control" />
            </label><br />
            <label class="btn btn-outline-primary btn-sm">
                <input asp-for="@Model.Attachments.FirstOrDefault().FormFile" type="file" />
            </label>
            <button type="submit" class="btn btn-outline-secondary btn-sm md-btn-flat">Submit</button>
        </div>
    </form>
</div>










<hr />
<div class="card-body contacts_body p-0 dz-scroll  " id="DZ_W_Contacts_Body">
    
        <div class="btn-sm btn-dark btn-block">@Model.Comments.Count Comment(s)</div>

        <div class="card-body contacts_body p-0 dz-scroll  " id="DZ_W_Contacts_Body">
            <ul class="contacts">
                @foreach (TicketComment comment in Model.Comments.OrderByDescending(c => c.Created))
                {
                    <li class="active dz-chat-user">
                        <div class="d-flex bd-highlight">
                            <div class="img_cont">
                                @*<img src="@_fileService.DecodeImage(User., blog.ContentType)" class="rounded-circle user_img" alt="" />*@                                
                            </div>
                            <div style="font-size:x-small;">@comment.Created.ToString("MM.dd.yyyy")</div>
                            <div class="user_info">
                                <span>@comment.User?.FullName</span>
                                <p>@comment.Comment</p>
                            </div>
                        </div>
                    </li>


                    @*<li class="active dz-chat-user">
                <div class="d-flex bd-highlight">
                    <div class="img_cont">
                        <img src="images/avatar/1.jpg" class="rounded-circle user_img" alt="" />
                        <span class="online_icon"></span>
                    </div>
                    <div style="font-size:x-small;">@comment.Created.ToString("MM.dd.yyyy")</div>
                    <div class="user_info">
                        <span>@comment.User?.FullName</span>
                        <p>@comment.Comment</p>
                    </div>
                </div>
            </li>*@

                }
            </ul>
        </div>

    
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


