@model IEnumerable<BugTracker.Models.Ticket>

@{
    ViewData["Title"] = "MyTickets";
}

<h1>My Tickets</h1>

<div class="container-fluid">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="example4" class="display" style="min-width: 845px">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Createad</th>
                                <th>Updated</th>
                                <th>Archived</th>
                                <th>Archived Data</th>
                                <th>Project</th>
                                <th>Ticket Type</th>
                                <th>Ticket Priority</th>
                                <th>Ticket Status</th>
                                <th>Developer User</th>
                                <th>Owner User</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Title)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Created)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Updated)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Archived)</td>
                                    <td>@Html.DisplayFor(modelItem => item.ArchivedData)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Project.Name)</td>
                                    <td>@Html.DisplayFor(modelItem => item.TicketType)</td>                                    
                                    <td><span class="badge light badge-success">@Html.DisplayFor(modelItem => item.TicketPriority.Name)</span></td>
                                    <td>@Html.DisplayFor(modelItem => item.TicketStatus)</td>
                                    <td>@Html.DisplayFor(modelItem => item.DeveloperUser)</td>
                                    <td>@Html.DisplayFor(modelItem => item.OwnerUser)</td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

