@model BugTracker.Models.TicketHistory

@{
    ViewData["Title"] = "Details";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-5">
            <div class="card mx-auto">
                <div class="card-header">
                    <h1>Ticket History: </h1>

                </div>
                <div class="card-body">
                    <dl>
                    <dt class="col-sm-5">
                    @Html.DisplayNameFor(model => model.Property)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Property)
                    </dd>
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.OldValue)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.OldValue)
                    </dd>
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.NewValue)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.NewValue)
                    </dd>
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.Created)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Created)
                    </dd>
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.UserId)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.User.FullName)
                    </dd>
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.Ticket)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Ticket.Description)
                    </dd>
                    </dl>
                </div>
                <div class="card-footer">
                    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                    <a asp-controller="Tickets" asp-action="Details" asp-route-id="@Model.Id">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>
