@model BugTracker.Models.ViewModels.DashboardViewModel




<div class="row">
    <div class="col">
        <div class="row">
            <div class="col-xl-4 col-xxl-4 col-lg-6 col-sm-6">
                <div class="card ml-2">


                    <div class="row">

                        <div class="col text-center">
                            <h1 class="card-title" style="font-size: 30px;">@Model.Company.Name</h1>

                        </div>


                        <div class="col text-center" style="font-size: 20px;">
                            <span>Welcome to the Dashboard!</span>
                        </div>


                    </div>

                    <div class="card-footer">
                        <a class="btn btn-outline-warning btn-sm align-text-bottom" asp-action="ManageUserRoles" asp-controller="UserRoles">
                            Manage User Roles
                        </a>

                        <a class="btn btn-outline-warning align-text-bottom pull-right" asp-action="Create" asp-controller="Invites">
                            Company Invites
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-xl-2 col-xxl-2 col-lg-6 col-sm-6">
                <div class="card overflow-hidden mr-2">
                    <div class="card-body pb-0 px-4 pt-4">
                        <div class="row">
                            <div class="col">
                                <h5 class="text- success mb-1">Total Members:</h5>
                                <h1>
                                    <span class="text-success float-right">@Model.Company.Members.Count</span>
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-2 col-xxl-2 col-lg-6 col-sm-6">
                <div class="card overflow-hidden">
                    <div class="card-body px-4 py-4">
                        <h5 class="mb-1">Total Tickets: <span class="text-success float-right">@Model.Tickets.Count</span></h5>

                        <div class="chart-point">
                            <div class="check-point-area">
                                <canvas id="ShareProfit2"></canvas>
                            </div>
                            <ul class="chart-point-list">
                                <li><i class="fa fa-circle text-primary mr-1"></i> 40% Tickets</li>
                                <li><i class="fa fa-circle text-success mr-1"></i> 35% Events</li>
                                <li><i class="fa fa-circle text-warning mr-1"></i> 25% Other</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-2 col-xxl-2 col-lg-6 col-sm-6">
                <div class="card overflow-hidden mr-2">
                    <div class="card-body pb-0 px-4 pt-4">
                        <div class="row">
                            <div class="col">
                                <h5 class="text- success mb-1">Total Projects:</h5>
                                <h1>
                                    <span class="text-success float-right">@Model.Company.Projects.Count</span>
                                </h1>
                            </div>
                        </div>
                    </div>
                    <div class="chart-wrapper">
                        <canvas id="areaChart_2" class="chartjs-render-monitor" height="90"></canvas>
                    </div>
                </div>
            </div>

            <div class="col-xl-2 col-xxl-2 col-lg-6 col-sm-6">
                <div class="card overflow-hidden mr-2">
                    <div class="card-body px-4 py-4">
                        <h5 class="mb-1">My Tickets: 0000</h5>
                        <div class="chart-point">
                            <div class="check-point-area">
                                <canvas id="ShareProfit2"></canvas>
                            </div>
                            <ul class="chart-point-list">
                                <li><i class="fa fa-circle text-primary mr-1"></i> 40% Tickets</li>
                                <li><i class="fa fa-circle text-success mr-1"></i> 35% Events</li>
                                <li><i class="fa fa-circle text-warning mr-1"></i> 25% Other</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <div class="row">

            <div class="col-4">
                <div class="card ml-2">
                    <h1 class="text-center">Projects</h1>
                    <hr />
                    <div class="widget-media">
                        <ul class="timeline">
                            @foreach (var item in Model.Projects)
                            {
                                <li>
                                    <div class="timeline-panel mr-1">
                                        <div class="media-body">
                                            <h4 class="mb-1">@Html.DisplayFor(modelItem => item.Name)</h4>
                                            <h5 class="d-block"><span class="text-primary">END DATE: @Html.DisplayFor(modelItem => item.EndDate)</span></h5>
                                        </div>
                                        <div class="dropdown">
                                            <button type="button" class="btn btn-primary light sharp" data-toggle="dropdown">
                                                <svg width="20px" height="20px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24" /><circle fill="#000000" cx="5" cy="12" r="2" /><circle fill="#000000" cx="12" cy="12" r="2" /><circle fill="#000000" cx="19" cy="12" r="2" /></g></svg>
                                            </button>
                                            <div class="dropdown-menu mr-1">
                                                <a class="dropdown-item" asp-controller="Projects" asp-action="AssignUsers" asp-route-id="@item.Id">Assign Users</a>
                                                <a class="dropdown-item" asp-controller="Projects" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                                <a class="dropdown-item" asp-controller="Projects" asp-action="Details" asp-route-id="@item.Id">Details</a>
                                                <a class="dropdown-item" asp-controller="Projects" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                        <canvas id="lineChart_3Kk"></canvas>
                    </div>
                </div>
            </div>

            @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
            {
                <div class="col-8">
                    <div class="card text-center mr-2">
                        <h1 class="text-center">All Tickets</h1>
                        <hr />
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="example4" class="display" style="min-width: 845px">
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Createad</th>
                                            <th>Project</th>
                                            <th>Ticket Type</th>
                                            <th>Ticket Priority</th>
                                            <th>Ticket Status</th>
                                            <th>Developer User</th>
                                            <th>Owner User</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Tickets)
                                        {
                                            <tr>
                                                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                                                <td>@Html.DisplayFor(modelItem => item.Created)</td>
                                                <td>@Html.DisplayFor(modelItem => item.Project.Name)</td>
                                                <td>@Html.DisplayFor(modelItem => item.TicketType.Name)</td>
                                                <td><span class="badge light badge-success">@Html.DisplayFor(modelItem => item.TicketPriority.Name)</span></td>
                                                <td>@Html.DisplayFor(modelItem => item.TicketStatus.Name)</td>
                                                <td>@Html.DisplayFor(modelItem => item.DeveloperUser.FullName)</td>
                                                <td>@Html.DisplayFor(modelItem => item.OwnerUser.FullName)</td>
                                                <td>
                                                    <div class="dropdown">
                                                        <button type="button" class="btn btn-primary light sharp" data-toggle="dropdown">
                                                            <svg width="20px" height="20px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24" /><circle fill="#000000" cx="5" cy="12" r="2" /><circle fill="#000000" cx="12" cy="12" r="2" /><circle fill="#000000" cx="19" cy="12" r="2" /></g></svg>
                                                        </button>
                                                        <div class="dropdown-menu">
                                                            <a class="dropdown-item" asp-controller="Tickets" asp-action="AssignTicket" asp-route-id="@item.Id">Assign Users</a>
                                                            <a class="dropdown-item" asp-controller="Tickets" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                                            <a class="dropdown-item" asp-controller="Tickets" asp-action="Details" asp-route-id="@item.Id">Details</a>
                                                            <a class="dropdown-item" asp-controller="Tickets" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else if (User.IsInRole("Developer") || User.IsInRole("Submitter"))
            {
                <div class="col-8 ">
                    <div class="card text-center mr-2">
                        <h1 class="text-center">My Tickets</h1>
                        <hr />
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="example4" class="display" style="min-width: 845px">
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Createad</th>
                                            <th>Project</th>
                                            <th>Ticket Type</th>
                                            <th>Ticket Priority</th>
                                            <th>Ticket Status</th>
                                            <th>Developer User</th>
                                            <th>Owner User</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Tickets)
                                        {
                                            <tr>
                                                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                                                <td>@Html.DisplayFor(modelItem => item.Created)</td>
                                                <td>@Html.DisplayFor(modelItem => item.Project.Name)</td>
                                                <td>@Html.DisplayFor(modelItem => item.TicketType.Name)</td>
                                                <td><span class="badge light badge-success">@Html.DisplayFor(modelItem => item.TicketPriority.Name)</span></td>
                                                <td>@Html.DisplayFor(modelItem => item.TicketStatus.Name)</td>
                                                <td>@Html.DisplayFor(modelItem => item.DeveloperUser.FullName)</td>
                                                <td>@Html.DisplayFor(modelItem => item.OwnerUser.FullName)</td>
                                                <td>
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item" asp-controller="Tickets" asp-action="AssignTicket" asp-route-id="@item.Id">Assign Users</a>
                                                        <a class="dropdown-item" asp-controller="Tickets" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                                        <a class="dropdown-item" asp-controller="Tickets" asp-action="Details" asp-route-id="@item.Id">Details</a>
                                                        <a class="dropdown-item" asp-controller="Tickets" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            };
            @*<div class="col-xl-3 col-xxl-4 col-lg-12 col-md-12">
            <div class="card mr-2">
                <div class="card-header border-0 pb-0">
                    <h4 class="card-title">Recent User Activity</h4>
                </div>
                <div class="card-body">
                    <div id="DZ_W_TimeLine1" class="widget-timeline dz-scroll style-1" style="height:250px;">
                        <ul class="timeline">
                            <li>
                                <div class="timeline-badge primary"></div>
                                <a class="timeline-panel text-muted" href="#">
                                    <span>10 minutes ago</span>
                                    <h6 class="mb-0">Youtube, a video-sharing website <strong class="text-primary">$500</strong>.</h6>
                                </a>
                            </li>
                            <li>
                                <div class="timeline-badge info">
                                </div>
                                <a class="timeline-panel text-muted" href="#">
                                    <span>20 minutes ago</span>
                                    <h6 class="mb-0">New order placed <strong class="text-info">#XF-2356.</strong></h6>
                                    <p class="mb-0">Quisque a consequat ante Sit...</p>
                                </a>
                            </li>
                            <li>
                                <div class="timeline-badge danger">
                                </div>
                                <a class="timeline-panel text-muted" href="#">
                                    <span>30 minutes ago</span>
                                    <h6 class="mb-0">john just buy your product <strong class="text-warning">Sell $250</strong></h6>
                                </a>
                            </li>
                            <li>
                                <div class="timeline-badge success">
                                </div>
                                <a class="timeline-panel text-muted" href="#">
                                    <span>15 minutes ago</span>
                                    <h6 class="mb-0">StumbleUpon is acquired by eBay. </h6>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>*@


        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
