@model IEnumerable<BugTracker.Models.Project>

@{
    ViewData["Title"] = "AllProjects";
}

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card mx-auto">
                <div class="card-header">
                    <h1><span class="text-success">All Projects</span></h1>

                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="example4" class="display" style="min-width: 845px">
                            <thead>
                                <tr>
                                    <th><span class="text-success">Name</span></th>
                                    <th><span class="text-success">Description</span></th>
                                    <th><span class="text-success">Start Date</span></th>
                                    <th><span class="text-success">End Date</span></th>
                                    <th><span class="text-success">Members</span></th>
                                    <th><span class="text-success">Company</span></th>
                                    <th><span class="text-success">Project Priority</span></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Description)</td>
                                        <td>@Html.DisplayFor(modelItem => item.StartDate)</td>
                                        <td>@Html.DisplayFor(modelItem => item.EndDate)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Members.Count)</td>
                                        <td>@Html.DisplayFor(modelItem => item.CompanyId)</td>
                                        <td><span class="badge light badge-success">@Html.DisplayFor(modelItem => item.ProjectPriority.Name)</span></td>
                                        <td>
                                            <div class="dropdown">
                                                <button type="button" class="btn btn-success light sharp" data-toggle="dropdown">
                                                    <svg width="20px" height="20px" viewBox="0 0 24 24" version="1.1"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><rect x="0" y="0" width="24" height="24" /><circle fill="#000000" cx="5" cy="12" r="2" /><circle fill="#000000" cx="12" cy="12" r="2" /><circle fill="#000000" cx="19" cy="12" r="2" /></g></svg>
                                                </button>
                                                <div class="dropdown-menu mr-1">
                                                    <a class="dropdown-item" asp-controller="Projects" asp-action="AssignUsers" asp-route-id="@item.Id">Manage Members</a>
                                                    <a class="dropdown-item" asp-controller="Projects" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                                    <a class="dropdown-item" asp-controller="Projects" asp-action="Details" asp-route-id="@item.Id">Details</a>
                                                    <a class="dropdown-item" asp-controller="Projects" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

