@model BugTracker.Models.Project
@using BugTracker.Sevices.Interfaces
@inject IBTProjectService BtProjectService
@{
    ViewData["Title"] = "Details";
}

<h1>Project: <br /><span style="font-size:22px;">@Html.DisplayFor(model => model.Name) <span class="float-right mr-5">Created on: @Html.DisplayFor(model => model.StartDate)</span></span></h1>
<hr />
<div class="row">
    <div class="col">
        <div class="card overflow-hidden ml-2">
            <div class="card-body pb-0 px-4 pt-4">

                <h5 class="text- success mb-1">End Date:</h5>
                <h1>
                    <span class="text-warning"><small>@Html.DisplayFor(model => model.EndDate)</small></span>
                </h1>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card overflow-hidden">
            <div class="card-body pb-0 px-4 pt-4">

                <h5 class="text- success mb-1">Priority:</h5>
                <h1>
                    <span class="text-success float-right">@Html.DisplayFor(model => model.ProjectPriority.Name)</span>
                </h1>
            </div>
        </div>
    </div>


    <div class="col">
        <div class="card overflow-hidden mr-2">
            <div class="card-body pb-0 px-4 pt-4">

                <h5 class="text- success mb-1">Assigned To:</h5>
                <div class="col justify-content-center">
                    
                    @*<span class="text-success float-right">@BtProjectService.GetProjectManagerAsync())</span>*@
                    <a type="button" class="btn btn-icon btn-outline-warning" asp-route-id="@Model.Id" asp-action="AssignPM">Assign Project Manager</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- row -->
<div class="row">

    <div class="col-6">
        <div class="card overflow-hidden mr-2">
            <div class="card-header">
                <h1>Ticket:  <br /><span style="font-size:22px;">@Html.DisplayFor(model => model.Name)</span></h1>
            </div>
            <div class="card-body pb-0 px-4 pt-4">
                <h3>Description:</h3>
                @Html.DisplayFor(model => model.Description)
            </div>

            <div class="card-footer">
                <div class="row">
                    <div class="col">
                        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                        <a asp-controller="Tickets" asp-action="Details" asp-route-id="@Model.Id">Back to List</a>
                    </div>

                    <div class="col justify-content-center">
                        <a asp-controller="TicketHistories" asp-action="Details" asp-route-id="@Model.Id" type="button" class="btn btn-icon btn-outline-warning">View Ticket History</a>
                    </div>
                    <div class="col justify-content-center">
                        <a type="button" class="btn btn-icon btn-outline-warning" asp-action="Details" asp-controller="Tickets" asp-route-id="@Model.Id">View Ticket</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col">
        <div class="card overflow-hidden">
            <div class="card-body pb-0 px-4 pt-4">



                <h5>
                    Members:
                    @foreach (BTUser member in Model.Members)
                    {
                        <br />
                        @member.FullName

                    }
                </h5>

            </div>
        </div>
    </div>
    




</div>


@*<div class="row">


    </div>

    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="MyProjects">Back to List</a>
        <a class="nav-link" asp-controller="Projects" asp-action="AssignUsers" asp-route-id="@Model.Id">Manage Members</a>
    </div>*@


<!-- row -->
<div class="col-12">
    <div class="card">
        <div class="card-header justify-content-around">
            <h4 class="card-title">Project Tickets</h4>
            <a class="nav-link nav-item btn-outline-warning btn" asp-controller="Tickets" asp-action="Create">Create New</a>

        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="example4" class="display" style="min-width: 845px">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Created</th>
                            <th>Updated</th>
                            <th>Archived</th>
                            <th>ArchivedData</th>
                            <th>Project</th>
                            <th>TicketType</th>
                            <th>TicketPriority</th>
                            <th>TicketStatus</th>
                            <th>DeveloperUser</th>
                            <th>OwnerUser</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Tickets)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                                <td>@Html.DisplayFor(modelItem => item.Created)</td>
                                <td>@Html.DisplayFor(modelItem => item.Updated)</td>
                                <td>@Html.DisplayFor(modelItem => item.Archived)</td>
                                <td>@Html.DisplayFor(modelItem => item.ArchivedData)</td>
                                <td>@Html.DisplayFor(modelItem => item.Project.Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.TicketType.Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.TicketPriority.Name)</td>
                                <td><span class="badge light badge-success">@Html.DisplayFor(modelItem => item.TicketStatus.Name)</span></td>
                                <td>@Html.DisplayFor(modelItem => item.DeveloperUser.FullName)</td>
                                <td>@Html.DisplayFor(modelItem => item.OwnerUser.FullName)</td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                    <a asp-controller="Tickets" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

