@model BugTracker.Models.Project

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageFileName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImageFileName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageFileData)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImageFileData)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageContentType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImageContentType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Archived)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Archived)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectPriority)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectPriority.Name)
        </dd>
        Members:
        @foreach (BTUser member in Model.Members)
        {
            <div class="container">
            @member.FullName
            </div>
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="MyProjects">Back to List</a>
    <a class="nav-link" asp-controller="Projects" asp-action="AssignUsers" asp-route-id="@Model.Id">Manage Members</a>
</div>


<!-- row -->
<div class="col-12">
    <div class="card">
        <div class="card-header justify-content-around">
            <h4 class="card-title">Project Tickets</h4>
            <a class="nav-link nav-item btn-outline-warning btn" asp-controller="Tickets" asp-action="Create">Create New</a>
            
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="example4" class="display" style="min-width: 845px">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Created</th>
                            <th>Updated</th>
                            <th>Archived</th>
                            <th>ArchivedData</th>
                            <th>Project</th>
                            <th>TicketType</th>
                            <th>TicketPriority</th>
                            <th>TicketStatus</th>
                            <th>DeveloperUser</th>
                            <th>OwnerUser</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Tickets)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                                <td>@Html.DisplayFor(modelItem => item.Created)</td>
                                <td>@Html.DisplayFor(modelItem => item.Updated)</td>
                                <td>@Html.DisplayFor(modelItem => item.Archived)</td>
                                <td>@Html.DisplayFor(modelItem => item.ArchivedData)</td>
                                <td>@Html.DisplayFor(modelItem => item.Project.Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.TicketType.Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.TicketPriority.Name)</td>
                                <td><span class="badge light badge-success">@Html.DisplayFor(modelItem => item.TicketStatus.Name)</span></td>
                                <td>@Html.DisplayFor(modelItem => item.DeveloperUser.FullName)</td>
                                <td>@Html.DisplayFor(modelItem => item.OwnerUser.FullName)</td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

